* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

header,
header a,
footer,
footer a {
    color: white;
}

header {
    background-color: darkorange;
}

.header-main-container {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: #222;
}