* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

header,
header a,
footer,
footer a {
    color: white;
}

a {
    text-decoration: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 20px;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    background-color: darkorange;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

header > nav {
    display: flex;
}

header a {
    font-weight: bold;
}

header ul li {
    display: inline-block;
    margin: 5px;
}

header img {
    height: 35px;
}

.header-main-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    width: 100%;
    margin: 0 90px;
}

main {
    /*padding: 50px 0;*/
    height: calc(100vh - 140px);
    height: 1100px;
}

.container {
    height: 50%;
    margin: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*.row {
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: auto;
}*/

.row .product-container {
    margin: 5px;
    width: 300px;
    height: 150px;
    position: relative;
}

.product-container h2 {
    text-transform: uppercase;
}

.product-container .discounted {
    font-weight: bold;
    color: red;
}

.product-container .striked {
    text-decoration: line-through;
}

.product-container .card-up {
    position: relative;
    margin-bottom: 5px;
}

.product-container .card-up img {
    width: 100%;
    display: block;
}

.product-container .card-up .wishlist {
    position: absolute;
    top: 20px;
    right: 0;
    padding: 10px;
    background-color: white;
    font-size: 1.75em;
}

.product-container .card-up .tags {
    position: absolute;
    bottom: 50px;
    left: 0;
}

.product-container .card-up .tags > span {
    display: inline-block;
    padding: 4px 8px;
    color: white;
    font-size: small;
    font-weight: bold;
}

.product-container .card-up .tag-discount {
    background-color: red;
}

.product-container .card-up .tag-eco {
    background-color: green;
}

.product-container .card-up .sencondary-image {
    position: absolute;
    top: 0;
    left: 0;
}

.product-container .card-up .primary-image {
    display: none;
}

footer {
    /*padding: 1px;*/
    height: 100%;
    background-color: #222;
    display: flex;
    justify-content: space-around;
}

.footer-container {
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    width: 100%;
    /*position: relative;*/
}

footer > nav {
    display: flex;
}

footer ul li {
    display: inline-block;
    margin: 0 5px;
}

.wishlist {
    transform: 1s;
}

.wishlist:active {
    color: red;
}

.primary-image {
    transition: 1s;
}

.primary-image:hover {
    transform: secondary-image;
}